<h1><a href="/wishlist">Your Wishlist</a>---------All Wishlists</h1>
<% @users.each do |user|  %>
  <h2><img src="<%= user.image %>" height="50" width="50"><%= user.name %></h2>
  <% if session[:user].name != user.name  %>
    <% if display_trade_option?(user) == true  %>
      <h4><a href="/start_wishlist_trade?id=<%= user.id %>">Perform Offline Trade</a></h4>
    <% else  %>
      <h4>No Valid Offline Trade</h4>
    <% end  %>
  <% end  %>
  <ul>
    <% user.get_wishlist.set_wishlist_chars.each do |char| %>
      <li><%= char.name %>------Owned By: <%= char.find_owner.name  %></li>
    <% end  %>
  </ul>
  <p>Currently Offering: <%= user.get_wishlist.offer %></p>
  <hr>
<% end  %>