<% @char_results.each do |result|  %>
  <h1><%= result.name %></h1>

  <img src="<%= result.image %>" alt="Woops, no picture" width="240" height="180">

  <p><%= result.description %></p>
  <p>Popularity: <%= result.popularity %></p>
  <% if char_taken?(result) == false  %>
    <p>Click here to add Character to your roster!</p>
    <form action="/char_add">
      <input type="hidden" name="name" value="<%= result.name %>">
      <input type="hidden" name="description" value="<%= result.description %>">
      <input type="hidden" name="user_id" value="<%= result.user_id %>">
      <input type="hidden" name="image" value="<%= result.image %>">
      <input type="hidden" name="popularity" value="<%= result.popularity %>">
      <input type="submit" value="Submit">
    </form>
    <%else %><p>Sorry, <%= char_taken?(result) %> has already claimed this Character, click <a href="add_to_wishlist?name=<%= result.name %>">here</a> to add this Character to your wishlist.</p>
    <%end  %>
<%end  %>