<h1>New Message to <%= @to_user.name %></h1>
<form id="message" action="/send_message">
  <input type="hidden" name="to_user_id" value="<%= @to_user.id %>">
  <textarea name="body" placeholder="Type message here..." rows="4" cols="60"></textarea>
  <input type="submit" value="Send Message">
</form>
  <input type="radio" form="message" name="trade" value="yes">Yes<br>
  <input type="radio" form="message" name="trade" checked="checked" value="no">No<br>
  Offering:
  <select form="message" name="offered_char">
    <% session[:user].get_characters("user_id").each do |char|  %>
    <option value="<%= char.id %>"><%= char.name %></option>
  </select>
    <% end %><br>
  For:
  <select form="message" name="requested_char">
    <% @to_user.get_characters("user_id").each do |char|  %>
    <option value="<%= char.id %>"><%= char.name %></option>
  </select>
  <% end %>