<h1>Your Messages</h1>

<% if @messages == []  %>
  <h3> No messages</h3>
<% else %> 
  <% @messages.each do |message|  %>
    <% if message.to_user_id == session[:user].id  %>
      <h4>From: <%= message.get_sender_name %></h4>
      <p><%= message.body %></p>
      <a href="/new_message?id=<%= message.from_user_id %>">Reply</a>
    <% else  %>
      <h4>To: <%= message.get_to_name %></h4>
      <p><%= message.body %></p>
    <% end  %>
  <% end  %>
<% end %>